// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../../../core/headers.js";
import * as core from "../../../../../../core/index.js";
import { mergeAdditionalBodyParameters } from "../../../../../../core/requestBody.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import * as Darwin from "../../../../../index.js";

export declare namespace EphemeralGoalsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class EphemeralGoalsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<EphemeralGoalsClient.Options>;

    constructor(options: EphemeralGoalsClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Creates a pseudonymous goal without first creating a Darwin AI for the external user. The application remains the accountable principal.
     *
     * @param {Darwin.connect.CreateEphemeralGoalRequest} request
     * @param {EphemeralGoalsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Darwin.BadRequestError}
     * @throws {@link Darwin.UnauthorizedError}
     * @throws {@link Darwin.ForbiddenError}
     * @throws {@link Darwin.NotFoundError}
     * @throws {@link errors.DarwinError}
     * @throws {@link errors.DarwinTimeoutError}
     *
     * @example
     *     await client.connect.ephemeralGoals.createEphemeralGoal({
     *         "Idempotency-Key": "Idempotency-Key",
     *         applicationId: "applicationId",
     *         externalUserReference: "externalUserReference",
     *         mode: "BUY",
     *         intent: "intent",
     *         targeting: {
     *             "key": "value"
     *         },
     *         budget: {
     *             "key": "value"
     *         }
     *     })
     */
    public createEphemeralGoal(
        request: Darwin.connect.CreateEphemeralGoalRequest,
        requestOptions?: EphemeralGoalsClient.RequestOptions,
    ): core.HttpResponsePromise<Darwin.connect.CreateEphemeralGoalEphemeralGoalsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__createEphemeralGoal(request, requestOptions));
    }

    private async __createEphemeralGoal(
        request: Darwin.connect.CreateEphemeralGoalRequest,
        requestOptions?: EphemeralGoalsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Darwin.connect.CreateEphemeralGoalEphemeralGoalsResponse>> {
        const { applicationId, "Idempotency-Key": idempotencyKey, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ "Idempotency-Key": idempotencyKey }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.DarwinEnvironment.Production,
                `applications/${core.url.encodePathParam(applicationId)}/ephemeral-goals`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Darwin.connect.CreateEphemeralGoalEphemeralGoalsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Darwin.BadRequestError(_response.error.body as Darwin.Error_, _response.rawResponse);
                case 401:
                    throw new Darwin.UnauthorizedError(_response.error.body as Darwin.Error_, _response.rawResponse);
                case 403:
                    throw new Darwin.ForbiddenError(_response.error.body as Darwin.Error_, _response.rawResponse);
                case 404:
                    throw new Darwin.NotFoundError(_response.error.body as Darwin.Error_, _response.rawResponse);
                default:
                    throw new errors.DarwinError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/applications/{applicationId}/ephemeral-goals",
        );
    }

    /**
     * @param {Darwin.connect.GetEphemeralGoalEphemeralGoalsRequest} request
     * @param {EphemeralGoalsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Darwin.BadRequestError}
     * @throws {@link Darwin.UnauthorizedError}
     * @throws {@link Darwin.ForbiddenError}
     * @throws {@link Darwin.NotFoundError}
     * @throws {@link errors.DarwinError}
     * @throws {@link errors.DarwinTimeoutError}
     *
     * @example
     *     await client.connect.ephemeralGoals.getEphemeralGoal({
     *         applicationId: "applicationId",
     *         goalId: "goalId"
     *     })
     */
    public getEphemeralGoal(
        request: Darwin.connect.GetEphemeralGoalEphemeralGoalsRequest,
        requestOptions?: EphemeralGoalsClient.RequestOptions,
    ): core.HttpResponsePromise<Darwin.connect.GetEphemeralGoalEphemeralGoalsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getEphemeralGoal(request, requestOptions));
    }

    private async __getEphemeralGoal(
        request: Darwin.connect.GetEphemeralGoalEphemeralGoalsRequest,
        requestOptions?: EphemeralGoalsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Darwin.connect.GetEphemeralGoalEphemeralGoalsResponse>> {
        const { applicationId, goalId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.DarwinEnvironment.Production,
                `applications/${core.url.encodePathParam(applicationId)}/ephemeral-goals/${core.url.encodePathParam(goalId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Darwin.connect.GetEphemeralGoalEphemeralGoalsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Darwin.BadRequestError(_response.error.body as Darwin.Error_, _response.rawResponse);
                case 401:
                    throw new Darwin.UnauthorizedError(_response.error.body as Darwin.Error_, _response.rawResponse);
                case 403:
                    throw new Darwin.ForbiddenError(_response.error.body as Darwin.Error_, _response.rawResponse);
                case 404:
                    throw new Darwin.NotFoundError(_response.error.body as Darwin.Error_, _response.rawResponse);
                default:
                    throw new errors.DarwinError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/applications/{applicationId}/ephemeral-goals/{goalId}",
        );
    }

    /**
     * @param {Darwin.connect.CastEphemeralGoalEphemeralGoalsRequest} request
     * @param {EphemeralGoalsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Darwin.BadRequestError}
     * @throws {@link Darwin.UnauthorizedError}
     * @throws {@link Darwin.ForbiddenError}
     * @throws {@link Darwin.NotFoundError}
     * @throws {@link errors.DarwinError}
     * @throws {@link errors.DarwinTimeoutError}
     *
     * @example
     *     await client.connect.ephemeralGoals.castEphemeralGoal({
     *         applicationId: "applicationId",
     *         goalId: "goalId"
     *     })
     */
    public castEphemeralGoal(
        request: Darwin.connect.CastEphemeralGoalEphemeralGoalsRequest,
        requestOptions?: EphemeralGoalsClient.RequestOptions,
    ): core.HttpResponsePromise<Darwin.connect.CastEphemeralGoalEphemeralGoalsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__castEphemeralGoal(request, requestOptions));
    }

    private async __castEphemeralGoal(
        request: Darwin.connect.CastEphemeralGoalEphemeralGoalsRequest,
        requestOptions?: EphemeralGoalsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Darwin.connect.CastEphemeralGoalEphemeralGoalsResponse>> {
        const { applicationId, goalId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.DarwinEnvironment.Production,
                `applications/${core.url.encodePathParam(applicationId)}/ephemeral-goals/${core.url.encodePathParam(goalId)}/casts`,
            ),
            method: "POST",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Darwin.connect.CastEphemeralGoalEphemeralGoalsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Darwin.BadRequestError(_response.error.body as Darwin.Error_, _response.rawResponse);
                case 401:
                    throw new Darwin.UnauthorizedError(_response.error.body as Darwin.Error_, _response.rawResponse);
                case 403:
                    throw new Darwin.ForbiddenError(_response.error.body as Darwin.Error_, _response.rawResponse);
                case 404:
                    throw new Darwin.NotFoundError(_response.error.body as Darwin.Error_, _response.rawResponse);
                default:
                    throw new errors.DarwinError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/applications/{applicationId}/ephemeral-goals/{goalId}/casts",
        );
    }

    /**
     * @param {Darwin.connect.EphemeralGoalActionRequest} request
     * @param {EphemeralGoalsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Darwin.BadRequestError}
     * @throws {@link Darwin.UnauthorizedError}
     * @throws {@link Darwin.ForbiddenError}
     * @throws {@link Darwin.NotFoundError}
     * @throws {@link errors.DarwinError}
     * @throws {@link errors.DarwinTimeoutError}
     *
     * @example
     *     await client.connect.ephemeralGoals.actOnEphemeralGoal({
     *         applicationId: "applicationId",
     *         goalId: "goalId",
     *         action: "CANCEL"
     *     })
     */
    public actOnEphemeralGoal(
        request: Darwin.connect.EphemeralGoalActionRequest,
        requestOptions?: EphemeralGoalsClient.RequestOptions,
    ): core.HttpResponsePromise<Darwin.connect.ActOnEphemeralGoalEphemeralGoalsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__actOnEphemeralGoal(request, requestOptions));
    }

    private async __actOnEphemeralGoal(
        request: Darwin.connect.EphemeralGoalActionRequest,
        requestOptions?: EphemeralGoalsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Darwin.connect.ActOnEphemeralGoalEphemeralGoalsResponse>> {
        const { applicationId, goalId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.DarwinEnvironment.Production,
                `applications/${core.url.encodePathParam(applicationId)}/ephemeral-goals/${core.url.encodePathParam(goalId)}/actions`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Darwin.connect.ActOnEphemeralGoalEphemeralGoalsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Darwin.BadRequestError(_response.error.body as Darwin.Error_, _response.rawResponse);
                case 401:
                    throw new Darwin.UnauthorizedError(_response.error.body as Darwin.Error_, _response.rawResponse);
                case 403:
                    throw new Darwin.ForbiddenError(_response.error.body as Darwin.Error_, _response.rawResponse);
                case 404:
                    throw new Darwin.NotFoundError(_response.error.body as Darwin.Error_, _response.rawResponse);
                default:
                    throw new errors.DarwinError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/applications/{applicationId}/ephemeral-goals/{goalId}/actions",
        );
    }
}
