// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import { mergeHeaders } from "../../../../../../core/headers.js";
import * as core from "../../../../../../core/index.js";
import { mergeAdditionalBodyParameters } from "../../../../../../core/requestBody.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import * as Darwin from "../../../../../index.js";

export declare namespace EnrollmentClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class EnrollmentClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<EnrollmentClient.Options>;

    constructor(options: EnrollmentClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * @param {Darwin.connect.ListEnrollmentLinksEnrollmentRequest} request
     * @param {EnrollmentClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Darwin.BadRequestError}
     * @throws {@link Darwin.UnauthorizedError}
     * @throws {@link Darwin.ForbiddenError}
     * @throws {@link Darwin.NotFoundError}
     * @throws {@link errors.DarwinError}
     * @throws {@link errors.DarwinTimeoutError}
     *
     * @example
     *     await client.connect.enrollment.listEnrollmentLinks({
     *         applicationId: "applicationId"
     *     })
     */
    public listEnrollmentLinks(
        request: Darwin.connect.ListEnrollmentLinksEnrollmentRequest,
        requestOptions?: EnrollmentClient.RequestOptions,
    ): core.HttpResponsePromise<Darwin.connect.ListEnrollmentLinksEnrollmentResponse> {
        return core.HttpResponsePromise.fromPromise(this.__listEnrollmentLinks(request, requestOptions));
    }

    private async __listEnrollmentLinks(
        request: Darwin.connect.ListEnrollmentLinksEnrollmentRequest,
        requestOptions?: EnrollmentClient.RequestOptions,
    ): Promise<core.WithRawResponse<Darwin.connect.ListEnrollmentLinksEnrollmentResponse>> {
        const { applicationId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.DarwinEnvironment.Production,
                `applications/${core.url.encodePathParam(applicationId)}/enrollment-links`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Darwin.connect.ListEnrollmentLinksEnrollmentResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Darwin.BadRequestError(_response.error.body as Darwin.Error_, _response.rawResponse);
                case 401:
                    throw new Darwin.UnauthorizedError(_response.error.body as Darwin.Error_, _response.rawResponse);
                case 403:
                    throw new Darwin.ForbiddenError(_response.error.body as Darwin.Error_, _response.rawResponse);
                case 404:
                    throw new Darwin.NotFoundError(_response.error.body as Darwin.Error_, _response.rawResponse);
                default:
                    throw new errors.DarwinError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/applications/{applicationId}/enrollment-links",
        );
    }

    /**
     * @param {Darwin.connect.CreateEnrollmentLinkRequest} request
     * @param {EnrollmentClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Darwin.BadRequestError}
     * @throws {@link Darwin.UnauthorizedError}
     * @throws {@link Darwin.ForbiddenError}
     * @throws {@link Darwin.NotFoundError}
     * @throws {@link errors.DarwinError}
     * @throws {@link errors.DarwinTimeoutError}
     *
     * @example
     *     await client.connect.enrollment.createEnrollmentLink({
     *         applicationId: "applicationId",
     *         name: "name"
     *     })
     */
    public createEnrollmentLink(
        request: Darwin.connect.CreateEnrollmentLinkRequest,
        requestOptions?: EnrollmentClient.RequestOptions,
    ): core.HttpResponsePromise<Darwin.connect.CreateEnrollmentLinkEnrollmentResponse> {
        return core.HttpResponsePromise.fromPromise(this.__createEnrollmentLink(request, requestOptions));
    }

    private async __createEnrollmentLink(
        request: Darwin.connect.CreateEnrollmentLinkRequest,
        requestOptions?: EnrollmentClient.RequestOptions,
    ): Promise<core.WithRawResponse<Darwin.connect.CreateEnrollmentLinkEnrollmentResponse>> {
        const { applicationId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.DarwinEnvironment.Production,
                `applications/${core.url.encodePathParam(applicationId)}/enrollment-links`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Darwin.connect.CreateEnrollmentLinkEnrollmentResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Darwin.BadRequestError(_response.error.body as Darwin.Error_, _response.rawResponse);
                case 401:
                    throw new Darwin.UnauthorizedError(_response.error.body as Darwin.Error_, _response.rawResponse);
                case 403:
                    throw new Darwin.ForbiddenError(_response.error.body as Darwin.Error_, _response.rawResponse);
                case 404:
                    throw new Darwin.NotFoundError(_response.error.body as Darwin.Error_, _response.rawResponse);
                default:
                    throw new errors.DarwinError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/applications/{applicationId}/enrollment-links",
        );
    }

    /**
     * @param {Darwin.connect.RevokeEnrollmentLinkEnrollmentRequest} request
     * @param {EnrollmentClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Darwin.BadRequestError}
     * @throws {@link Darwin.UnauthorizedError}
     * @throws {@link Darwin.ForbiddenError}
     * @throws {@link Darwin.NotFoundError}
     * @throws {@link errors.DarwinError}
     * @throws {@link errors.DarwinTimeoutError}
     *
     * @example
     *     await client.connect.enrollment.revokeEnrollmentLink({
     *         applicationId: "applicationId",
     *         enrollmentLinkId: "enrollmentLinkId"
     *     })
     */
    public revokeEnrollmentLink(
        request: Darwin.connect.RevokeEnrollmentLinkEnrollmentRequest,
        requestOptions?: EnrollmentClient.RequestOptions,
    ): core.HttpResponsePromise<Darwin.connect.RevokeEnrollmentLinkEnrollmentResponse> {
        return core.HttpResponsePromise.fromPromise(this.__revokeEnrollmentLink(request, requestOptions));
    }

    private async __revokeEnrollmentLink(
        request: Darwin.connect.RevokeEnrollmentLinkEnrollmentRequest,
        requestOptions?: EnrollmentClient.RequestOptions,
    ): Promise<core.WithRawResponse<Darwin.connect.RevokeEnrollmentLinkEnrollmentResponse>> {
        const { applicationId, enrollmentLinkId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.DarwinEnvironment.Production,
                `applications/${core.url.encodePathParam(applicationId)}/enrollment-links/${core.url.encodePathParam(enrollmentLinkId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Darwin.connect.RevokeEnrollmentLinkEnrollmentResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Darwin.BadRequestError(_response.error.body as Darwin.Error_, _response.rawResponse);
                case 401:
                    throw new Darwin.UnauthorizedError(_response.error.body as Darwin.Error_, _response.rawResponse);
                case 403:
                    throw new Darwin.ForbiddenError(_response.error.body as Darwin.Error_, _response.rawResponse);
                case 404:
                    throw new Darwin.NotFoundError(_response.error.body as Darwin.Error_, _response.rawResponse);
                default:
                    throw new errors.DarwinError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/applications/{applicationId}/enrollment-links/{enrollmentLinkId}",
        );
    }

    /**
     * Creates one-time, user-distributed enrollment URLs for pseudonymous external references. Darwin does not require or email user PII.
     *
     * @param {Darwin.connect.CreateEnrollmentBatchRequest} request
     * @param {EnrollmentClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Darwin.BadRequestError}
     * @throws {@link Darwin.UnauthorizedError}
     * @throws {@link Darwin.ForbiddenError}
     * @throws {@link Darwin.NotFoundError}
     * @throws {@link errors.DarwinError}
     * @throws {@link errors.DarwinTimeoutError}
     *
     * @example
     *     await client.connect.enrollment.createEnrollmentBatch({
     *         applicationId: "applicationId",
     *         externalReferences: ["externalReferences"]
     *     })
     */
    public createEnrollmentBatch(
        request: Darwin.connect.CreateEnrollmentBatchRequest,
        requestOptions?: EnrollmentClient.RequestOptions,
    ): core.HttpResponsePromise<Darwin.EnrollmentBatchResult> {
        return core.HttpResponsePromise.fromPromise(this.__createEnrollmentBatch(request, requestOptions));
    }

    private async __createEnrollmentBatch(
        request: Darwin.connect.CreateEnrollmentBatchRequest,
        requestOptions?: EnrollmentClient.RequestOptions,
    ): Promise<core.WithRawResponse<Darwin.EnrollmentBatchResult>> {
        const { applicationId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.DarwinEnvironment.Production,
                `applications/${core.url.encodePathParam(applicationId)}/enrollment-batches`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Darwin.EnrollmentBatchResult, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Darwin.BadRequestError(_response.error.body as Darwin.Error_, _response.rawResponse);
                case 401:
                    throw new Darwin.UnauthorizedError(_response.error.body as Darwin.Error_, _response.rawResponse);
                case 403:
                    throw new Darwin.ForbiddenError(_response.error.body as Darwin.Error_, _response.rawResponse);
                case 404:
                    throw new Darwin.NotFoundError(_response.error.body as Darwin.Error_, _response.rawResponse);
                default:
                    throw new errors.DarwinError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/applications/{applicationId}/enrollment-batches",
        );
    }

    /**
     * @param {Darwin.connect.GetEnrollmentBatchEnrollmentRequest} request
     * @param {EnrollmentClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Darwin.BadRequestError}
     * @throws {@link Darwin.UnauthorizedError}
     * @throws {@link Darwin.ForbiddenError}
     * @throws {@link Darwin.NotFoundError}
     * @throws {@link errors.DarwinError}
     * @throws {@link errors.DarwinTimeoutError}
     *
     * @example
     *     await client.connect.enrollment.getEnrollmentBatch({
     *         applicationId: "applicationId",
     *         batchId: "batchId"
     *     })
     */
    public getEnrollmentBatch(
        request: Darwin.connect.GetEnrollmentBatchEnrollmentRequest,
        requestOptions?: EnrollmentClient.RequestOptions,
    ): core.HttpResponsePromise<Darwin.EnrollmentBatchResult> {
        return core.HttpResponsePromise.fromPromise(this.__getEnrollmentBatch(request, requestOptions));
    }

    private async __getEnrollmentBatch(
        request: Darwin.connect.GetEnrollmentBatchEnrollmentRequest,
        requestOptions?: EnrollmentClient.RequestOptions,
    ): Promise<core.WithRawResponse<Darwin.EnrollmentBatchResult>> {
        const { applicationId, batchId, limit, cursor } = request;
        const _queryParams: Record<string, unknown> = {
            limit,
            cursor,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.DarwinEnvironment.Production,
                `applications/${core.url.encodePathParam(applicationId)}/enrollment-batches/${core.url.encodePathParam(batchId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Darwin.EnrollmentBatchResult, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Darwin.BadRequestError(_response.error.body as Darwin.Error_, _response.rawResponse);
                case 401:
                    throw new Darwin.UnauthorizedError(_response.error.body as Darwin.Error_, _response.rawResponse);
                case 403:
                    throw new Darwin.ForbiddenError(_response.error.body as Darwin.Error_, _response.rawResponse);
                case 404:
                    throw new Darwin.NotFoundError(_response.error.body as Darwin.Error_, _response.rawResponse);
                default:
                    throw new errors.DarwinError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/applications/{applicationId}/enrollment-batches/{batchId}",
        );
    }
}
