// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../../../BaseClient.js";
import { mergeHeaders } from "../../../../../../core/headers.js";
import * as core from "../../../../../../core/index.js";
import { mergeAdditionalBodyParameters } from "../../../../../../core/requestBody.js";
import * as environments from "../../../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../../../errors/index.js";
import * as Darwin from "../../../../../index.js";

export declare namespace ListingsClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class ListingsClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<ListingsClient.Options>;

    constructor(options: ListingsClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * @param {Darwin.supply.ListListingsListingsRequest} request
     * @param {ListingsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Darwin.BadRequestError}
     * @throws {@link Darwin.UnauthorizedError}
     * @throws {@link Darwin.ForbiddenError}
     * @throws {@link Darwin.NotFoundError}
     * @throws {@link errors.DarwinError}
     * @throws {@link errors.DarwinTimeoutError}
     *
     * @example
     *     await client.supply.listings.listListings({
     *         aiId: "aiId"
     *     })
     */
    public listListings(
        request: Darwin.supply.ListListingsListingsRequest,
        requestOptions?: ListingsClient.RequestOptions,
    ): core.HttpResponsePromise<Darwin.supply.ListListingsListingsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__listListings(request, requestOptions));
    }

    private async __listListings(
        request: Darwin.supply.ListListingsListingsRequest,
        requestOptions?: ListingsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Darwin.supply.ListListingsListingsResponse>> {
        const { aiId, limit, cursor, q, type: type_, executionDomain, capabilityKind, status, visibility } = request;
        const _queryParams: Record<string, unknown> = {
            limit,
            cursor,
            q,
            type: type_ != null ? type_ : undefined,
            executionDomain: executionDomain != null ? executionDomain : undefined,
            capabilityKind: capabilityKind != null ? capabilityKind : undefined,
            status: status != null ? status : undefined,
            visibility: visibility != null ? visibility : undefined,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.DarwinEnvironment.Production,
                `ais/${core.url.encodePathParam(aiId)}/listings`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Darwin.supply.ListListingsListingsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Darwin.BadRequestError(_response.error.body as Darwin.Error_, _response.rawResponse);
                case 401:
                    throw new Darwin.UnauthorizedError(_response.error.body as Darwin.Error_, _response.rawResponse);
                case 403:
                    throw new Darwin.ForbiddenError(_response.error.body as Darwin.Error_, _response.rawResponse);
                case 404:
                    throw new Darwin.NotFoundError(_response.error.body as Darwin.Error_, _response.rawResponse);
                default:
                    throw new errors.DarwinError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/ais/{aiId}/listings");
    }

    /**
     * @param {Darwin.supply.CreateListingListingsRequest} request
     * @param {ListingsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Darwin.BadRequestError}
     * @throws {@link Darwin.UnauthorizedError}
     * @throws {@link Darwin.ForbiddenError}
     * @throws {@link Darwin.NotFoundError}
     * @throws {@link errors.DarwinError}
     * @throws {@link errors.DarwinTimeoutError}
     *
     * @example
     *     await client.supply.listings.createListing({
     *         aiId: "aiId",
     *         body: {
     *             type: "PRODUCT",
     *             executionDomain: "HUMAN",
     *             title: "title"
     *         }
     *     })
     */
    public createListing(
        request: Darwin.supply.CreateListingListingsRequest,
        requestOptions?: ListingsClient.RequestOptions,
    ): core.HttpResponsePromise<Darwin.supply.CreateListingListingsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__createListing(request, requestOptions));
    }

    private async __createListing(
        request: Darwin.supply.CreateListingListingsRequest,
        requestOptions?: ListingsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Darwin.supply.CreateListingListingsResponse>> {
        const { aiId, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.DarwinEnvironment.Production,
                `ais/${core.url.encodePathParam(aiId)}/listings`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Darwin.supply.CreateListingListingsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Darwin.BadRequestError(_response.error.body as Darwin.Error_, _response.rawResponse);
                case 401:
                    throw new Darwin.UnauthorizedError(_response.error.body as Darwin.Error_, _response.rawResponse);
                case 403:
                    throw new Darwin.ForbiddenError(_response.error.body as Darwin.Error_, _response.rawResponse);
                case 404:
                    throw new Darwin.NotFoundError(_response.error.body as Darwin.Error_, _response.rawResponse);
                default:
                    throw new errors.DarwinError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/ais/{aiId}/listings");
    }

    /**
     * @param {Darwin.supply.GetListingListingsRequest} request
     * @param {ListingsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Darwin.BadRequestError}
     * @throws {@link Darwin.UnauthorizedError}
     * @throws {@link Darwin.ForbiddenError}
     * @throws {@link Darwin.NotFoundError}
     * @throws {@link errors.DarwinError}
     * @throws {@link errors.DarwinTimeoutError}
     *
     * @example
     *     await client.supply.listings.getListing({
     *         aiId: "aiId",
     *         listingId: "listingId"
     *     })
     */
    public getListing(
        request: Darwin.supply.GetListingListingsRequest,
        requestOptions?: ListingsClient.RequestOptions,
    ): core.HttpResponsePromise<Darwin.supply.GetListingListingsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getListing(request, requestOptions));
    }

    private async __getListing(
        request: Darwin.supply.GetListingListingsRequest,
        requestOptions?: ListingsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Darwin.supply.GetListingListingsResponse>> {
        const { aiId, listingId } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.DarwinEnvironment.Production,
                `ais/${core.url.encodePathParam(aiId)}/listings/${core.url.encodePathParam(listingId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Darwin.supply.GetListingListingsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Darwin.BadRequestError(_response.error.body as Darwin.Error_, _response.rawResponse);
                case 401:
                    throw new Darwin.UnauthorizedError(_response.error.body as Darwin.Error_, _response.rawResponse);
                case 403:
                    throw new Darwin.ForbiddenError(_response.error.body as Darwin.Error_, _response.rawResponse);
                case 404:
                    throw new Darwin.NotFoundError(_response.error.body as Darwin.Error_, _response.rawResponse);
                default:
                    throw new errors.DarwinError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/ais/{aiId}/listings/{listingId}",
        );
    }

    /**
     * @param {Darwin.supply.ArchiveListingListingsRequest} request
     * @param {ListingsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Darwin.BadRequestError}
     * @throws {@link Darwin.UnauthorizedError}
     * @throws {@link Darwin.ForbiddenError}
     * @throws {@link Darwin.NotFoundError}
     * @throws {@link errors.DarwinError}
     * @throws {@link errors.DarwinTimeoutError}
     *
     * @example
     *     await client.supply.listings.archiveListing({
     *         aiId: "aiId",
     *         listingId: "listingId",
     *         expectedRevision: 1
     *     })
     */
    public archiveListing(
        request: Darwin.supply.ArchiveListingListingsRequest,
        requestOptions?: ListingsClient.RequestOptions,
    ): core.HttpResponsePromise<Darwin.supply.ArchiveListingListingsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__archiveListing(request, requestOptions));
    }

    private async __archiveListing(
        request: Darwin.supply.ArchiveListingListingsRequest,
        requestOptions?: ListingsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Darwin.supply.ArchiveListingListingsResponse>> {
        const { aiId, listingId, expectedRevision } = request;
        const _queryParams: Record<string, unknown> = {
            expectedRevision,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.DarwinEnvironment.Production,
                `ais/${core.url.encodePathParam(aiId)}/listings/${core.url.encodePathParam(listingId)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Darwin.supply.ArchiveListingListingsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Darwin.BadRequestError(_response.error.body as Darwin.Error_, _response.rawResponse);
                case 401:
                    throw new Darwin.UnauthorizedError(_response.error.body as Darwin.Error_, _response.rawResponse);
                case 403:
                    throw new Darwin.ForbiddenError(_response.error.body as Darwin.Error_, _response.rawResponse);
                case 404:
                    throw new Darwin.NotFoundError(_response.error.body as Darwin.Error_, _response.rawResponse);
                default:
                    throw new errors.DarwinError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/ais/{aiId}/listings/{listingId}",
        );
    }

    /**
     * Supply expectedRevision to prevent a silent concurrent overwrite.
     *
     * @param {Darwin.supply.UpdateListingRequest} request
     * @param {ListingsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Darwin.BadRequestError}
     * @throws {@link Darwin.UnauthorizedError}
     * @throws {@link Darwin.ForbiddenError}
     * @throws {@link Darwin.NotFoundError}
     * @throws {@link errors.DarwinError}
     * @throws {@link errors.DarwinTimeoutError}
     *
     * @example
     *     await client.supply.listings.updateListing({
     *         aiId: "aiId",
     *         listingId: "listingId",
     *         expectedRevision: 1
     *     })
     */
    public updateListing(
        request: Darwin.supply.UpdateListingRequest,
        requestOptions?: ListingsClient.RequestOptions,
    ): core.HttpResponsePromise<Darwin.supply.UpdateListingListingsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__updateListing(request, requestOptions));
    }

    private async __updateListing(
        request: Darwin.supply.UpdateListingRequest,
        requestOptions?: ListingsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Darwin.supply.UpdateListingListingsResponse>> {
        const { aiId, listingId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.DarwinEnvironment.Production,
                `ais/${core.url.encodePathParam(aiId)}/listings/${core.url.encodePathParam(listingId)}`,
            ),
            method: "PATCH",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Darwin.supply.UpdateListingListingsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Darwin.BadRequestError(_response.error.body as Darwin.Error_, _response.rawResponse);
                case 401:
                    throw new Darwin.UnauthorizedError(_response.error.body as Darwin.Error_, _response.rawResponse);
                case 403:
                    throw new Darwin.ForbiddenError(_response.error.body as Darwin.Error_, _response.rawResponse);
                case 404:
                    throw new Darwin.NotFoundError(_response.error.body as Darwin.Error_, _response.rawResponse);
                default:
                    throw new errors.DarwinError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "PATCH",
            "/ais/{aiId}/listings/{listingId}",
        );
    }

    /**
     * Upserts at most 100 Listings by sourceId and externalRef.
     *
     * @param {Darwin.supply.BatchUpsertListingsRequest} request
     * @param {ListingsClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Darwin.BadRequestError}
     * @throws {@link Darwin.UnauthorizedError}
     * @throws {@link Darwin.ForbiddenError}
     * @throws {@link Darwin.NotFoundError}
     * @throws {@link errors.DarwinError}
     * @throws {@link errors.DarwinTimeoutError}
     *
     * @example
     *     await client.supply.listings.batchUpsertListings({
     *         aiId: "aiId",
     *         listings: [{
     *                 type: "PRODUCT",
     *                 executionDomain: "HUMAN",
     *                 title: "title"
     *             }]
     *     })
     */
    public batchUpsertListings(
        request: Darwin.supply.BatchUpsertListingsRequest,
        requestOptions?: ListingsClient.RequestOptions,
    ): core.HttpResponsePromise<Darwin.supply.BatchUpsertListingsListingsResponse> {
        return core.HttpResponsePromise.fromPromise(this.__batchUpsertListings(request, requestOptions));
    }

    private async __batchUpsertListings(
        request: Darwin.supply.BatchUpsertListingsRequest,
        requestOptions?: ListingsClient.RequestOptions,
    ): Promise<core.WithRawResponse<Darwin.supply.BatchUpsertListingsListingsResponse>> {
        const { aiId, ..._body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.DarwinEnvironment.Production,
                `ais/${core.url.encodePathParam(aiId)}/listings/batch-upsert`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(_body, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Darwin.supply.BatchUpsertListingsListingsResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Darwin.BadRequestError(_response.error.body as Darwin.Error_, _response.rawResponse);
                case 401:
                    throw new Darwin.UnauthorizedError(_response.error.body as Darwin.Error_, _response.rawResponse);
                case 403:
                    throw new Darwin.ForbiddenError(_response.error.body as Darwin.Error_, _response.rawResponse);
                case 404:
                    throw new Darwin.NotFoundError(_response.error.body as Darwin.Error_, _response.rawResponse);
                default:
                    throw new errors.DarwinError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/ais/{aiId}/listings/batch-upsert",
        );
    }
}
