'use strict';
// This file was auto-generated by Fern from our API Definition.
var __createBinding =
  (this && this.__createBinding) ||
  (Object.create
    ? function (o, m, k, k2) {
        if (k2 === undefined) k2 = k;
        var desc = Object.getOwnPropertyDescriptor(m, k);
        if (!desc || ('get' in desc ? !m.__esModule : desc.writable || desc.configurable)) {
          desc = {
            enumerable: true,
            get: function () {
              return m[k];
            },
          };
        }
        Object.defineProperty(o, k2, desc);
      }
    : function (o, m, k, k2) {
        if (k2 === undefined) k2 = k;
        o[k2] = m[k];
      });
var __setModuleDefault =
  (this && this.__setModuleDefault) ||
  (Object.create
    ? function (o, v) {
        Object.defineProperty(o, 'default', { enumerable: true, value: v });
      }
    : function (o, v) {
        o['default'] = v;
      });
var __importStar =
  (this && this.__importStar) ||
  (function () {
    var ownKeys = function (o) {
      ownKeys =
        Object.getOwnPropertyNames ||
        function (o) {
          var ar = [];
          for (var k in o) if (Object.prototype.hasOwnProperty.call(o, k)) ar[ar.length] = k;
          return ar;
        };
      return ownKeys(o);
    };
    return function (mod) {
      if (mod && mod.__esModule) return mod;
      var result = {};
      if (mod != null)
        for (var k = ownKeys(mod), i = 0; i < k.length; i++) if (k[i] !== 'default') __createBinding(result, mod, k[i]);
      __setModuleDefault(result, mod);
      return result;
    };
  })();
var __awaiter =
  (this && this.__awaiter) ||
  function (thisArg, _arguments, P, generator) {
    function adopt(value) {
      return value instanceof P
        ? value
        : new P(function (resolve) {
            resolve(value);
          });
    }
    return new (P || (P = Promise))(function (resolve, reject) {
      function fulfilled(value) {
        try {
          step(generator.next(value));
        } catch (e) {
          reject(e);
        }
      }
      function rejected(value) {
        try {
          step(generator['throw'](value));
        } catch (e) {
          reject(e);
        }
      }
      function step(result) {
        result.done ? resolve(result.value) : adopt(result.value).then(fulfilled, rejected);
      }
      step((generator = generator.apply(thisArg, _arguments || [])).next());
    });
  };
var __rest =
  (this && this.__rest) ||
  function (s, e) {
    var t = {};
    for (var p in s) if (Object.prototype.hasOwnProperty.call(s, p) && e.indexOf(p) < 0) t[p] = s[p];
    if (s != null && typeof Object.getOwnPropertySymbols === 'function')
      for (var i = 0, p = Object.getOwnPropertySymbols(s); i < p.length; i++) {
        if (e.indexOf(p[i]) < 0 && Object.prototype.propertyIsEnumerable.call(s, p[i])) t[p[i]] = s[p[i]];
      }
    return t;
  };
Object.defineProperty(exports, '__esModule', { value: true });
exports.ConnectionsClient = void 0;
const BaseClient_js_1 = require('../../../../BaseClient.js');
const headers_js_1 = require('../../../../core/headers.js');
const core = __importStar(require('../../../../core/index.js'));
const requestBody_js_1 = require('../../../../core/requestBody.js');
const environments = __importStar(require('../../../../environments.js'));
const handleNonStatusCodeError_js_1 = require('../../../../errors/handleNonStatusCodeError.js');
const errors = __importStar(require('../../../../errors/index.js'));
const Darwin = __importStar(require('../../../index.js'));
/**
 * Manage authorized external accounts without exposing provider credentials.
 */
class ConnectionsClient {
  constructor(options) {
    this._options = (0, BaseClient_js_1.normalizeClientOptionsWithAuth)(options);
  }
  /**
   * @param {Darwin.ListAiConnectionsRequest} request
   * @param {ConnectionsClient.RequestOptions} requestOptions - Request-specific configuration.
   *
   * @throws {@link Darwin.BadRequestError}
   * @throws {@link Darwin.UnauthorizedError}
   * @throws {@link Darwin.ForbiddenError}
   * @throws {@link Darwin.NotFoundError}
   * @throws {@link errors.DarwinError}
   * @throws {@link errors.DarwinTimeoutError}
   *
   * @example
   *     await client.connections.listAiConnections({
   *         aiId: "aiId"
   *     })
   */
  listAiConnections(request, requestOptions) {
    return core.HttpResponsePromise.fromPromise(this.__listAiConnections(request, requestOptions));
  }
  __listAiConnections(request, requestOptions) {
    return __awaiter(this, void 0, void 0, function* () {
      var _a, _b, _c, _d, _e, _f, _g, _h, _j;
      const { aiId } = request;
      const _authRequest = yield this._options.authProvider.getAuthRequest();
      const _headers = (0, headers_js_1.mergeHeaders)(
        _authRequest.headers,
        (_a = this._options) === null || _a === void 0 ? void 0 : _a.headers,
        requestOptions === null || requestOptions === void 0 ? void 0 : requestOptions.headers,
      );
      const _response = yield core.fetcher({
        url: core.url.join(
          (_c =
            (_b = yield core.Supplier.get(this._options.baseUrl)) !== null && _b !== void 0
              ? _b
              : yield core.Supplier.get(this._options.environment)) !== null && _c !== void 0
            ? _c
            : environments.DarwinEnvironment.Production,
          `ais/${core.url.encodePathParam(aiId)}/connections`,
        ),
        method: 'GET',
        headers: _headers,
        queryString: core.url
          .queryBuilder()
          .mergeAdditional(requestOptions === null || requestOptions === void 0 ? void 0 : requestOptions.queryParams)
          .build(),
        timeoutMs:
          ((_f =
            (_d = requestOptions === null || requestOptions === void 0 ? void 0 : requestOptions.timeoutInSeconds) !==
              null && _d !== void 0
              ? _d
              : (_e = this._options) === null || _e === void 0
                ? void 0
                : _e.timeoutInSeconds) !== null && _f !== void 0
            ? _f
            : 60) * 1000,
        maxRetries:
          (_g = requestOptions === null || requestOptions === void 0 ? void 0 : requestOptions.maxRetries) !== null &&
          _g !== void 0
            ? _g
            : (_h = this._options) === null || _h === void 0
              ? void 0
              : _h.maxRetries,
        abortSignal: requestOptions === null || requestOptions === void 0 ? void 0 : requestOptions.abortSignal,
        fetchFn: (_j = this._options) === null || _j === void 0 ? void 0 : _j.fetch,
        logging: this._options.logging,
      });
      if (_response.ok) {
        return { data: _response.body, rawResponse: _response.rawResponse };
      }
      if (_response.error.reason === 'status-code') {
        switch (_response.error.statusCode) {
          case 400:
            throw new Darwin.BadRequestError(_response.error.body, _response.rawResponse);
          case 401:
            throw new Darwin.UnauthorizedError(_response.error.body, _response.rawResponse);
          case 403:
            throw new Darwin.ForbiddenError(_response.error.body, _response.rawResponse);
          case 404:
            throw new Darwin.NotFoundError(_response.error.body, _response.rawResponse);
          default:
            throw new errors.DarwinError({
              statusCode: _response.error.statusCode,
              body: _response.error.body,
              rawResponse: _response.rawResponse,
            });
        }
      }
      return (0, handleNonStatusCodeError_js_1.handleNonStatusCodeError)(
        _response.error,
        _response.rawResponse,
        'GET',
        '/ais/{aiId}/connections',
      );
    });
  }
  /**
   * Owner user credentials only. Assigns a sanitized provider authorization to one AI, Listing, or transaction without exposing credentials. Request-only assignments must expire within 24 hours; saved assignments require explicit consent.
   *
   * @param {Darwin.CreateConnectionAssignmentRequest} request
   * @param {ConnectionsClient.RequestOptions} requestOptions - Request-specific configuration.
   *
   * @throws {@link Darwin.BadRequestError}
   * @throws {@link Darwin.UnauthorizedError}
   * @throws {@link Darwin.ForbiddenError}
   * @throws {@link Darwin.NotFoundError}
   * @throws {@link errors.DarwinError}
   * @throws {@link errors.DarwinTimeoutError}
   *
   * @example
   *     await client.connections.createConnectionAssignment({
   *         aiId: "aiId",
   *         connectionId: "connectionId",
   *         targetKind: "AI",
   *         targetId: "targetId",
   *         retention: "REQUEST_ONLY",
   *         scopes: ["scopes"]
   *     })
   */
  createConnectionAssignment(request, requestOptions) {
    return core.HttpResponsePromise.fromPromise(this.__createConnectionAssignment(request, requestOptions));
  }
  __createConnectionAssignment(request, requestOptions) {
    return __awaiter(this, void 0, void 0, function* () {
      var _a, _b, _c, _d, _e, _f, _g, _h, _j;
      const { aiId, connectionId } = request,
        _body = __rest(request, ['aiId', 'connectionId']);
      const _authRequest = yield this._options.authProvider.getAuthRequest();
      const _headers = (0, headers_js_1.mergeHeaders)(
        _authRequest.headers,
        (_a = this._options) === null || _a === void 0 ? void 0 : _a.headers,
        requestOptions === null || requestOptions === void 0 ? void 0 : requestOptions.headers,
      );
      const _response = yield core.fetcher({
        url: core.url.join(
          (_c =
            (_b = yield core.Supplier.get(this._options.baseUrl)) !== null && _b !== void 0
              ? _b
              : yield core.Supplier.get(this._options.environment)) !== null && _c !== void 0
            ? _c
            : environments.DarwinEnvironment.Production,
          `ais/${core.url.encodePathParam(aiId)}/connections/${core.url.encodePathParam(connectionId)}/assignments`,
        ),
        method: 'POST',
        headers: _headers,
        contentType: 'application/json',
        queryString: core.url
          .queryBuilder()
          .mergeAdditional(requestOptions === null || requestOptions === void 0 ? void 0 : requestOptions.queryParams)
          .build(),
        requestType: 'json',
        body: (0, requestBody_js_1.mergeAdditionalBodyParameters)(
          _body,
          requestOptions === null || requestOptions === void 0 ? void 0 : requestOptions.additionalBodyParameters,
        ),
        timeoutMs:
          ((_f =
            (_d = requestOptions === null || requestOptions === void 0 ? void 0 : requestOptions.timeoutInSeconds) !==
              null && _d !== void 0
              ? _d
              : (_e = this._options) === null || _e === void 0
                ? void 0
                : _e.timeoutInSeconds) !== null && _f !== void 0
            ? _f
            : 60) * 1000,
        maxRetries:
          (_g = requestOptions === null || requestOptions === void 0 ? void 0 : requestOptions.maxRetries) !== null &&
          _g !== void 0
            ? _g
            : (_h = this._options) === null || _h === void 0
              ? void 0
              : _h.maxRetries,
        abortSignal: requestOptions === null || requestOptions === void 0 ? void 0 : requestOptions.abortSignal,
        fetchFn: (_j = this._options) === null || _j === void 0 ? void 0 : _j.fetch,
        logging: this._options.logging,
      });
      if (_response.ok) {
        return {
          data: _response.body,
          rawResponse: _response.rawResponse,
        };
      }
      if (_response.error.reason === 'status-code') {
        switch (_response.error.statusCode) {
          case 400:
            throw new Darwin.BadRequestError(_response.error.body, _response.rawResponse);
          case 401:
            throw new Darwin.UnauthorizedError(_response.error.body, _response.rawResponse);
          case 403:
            throw new Darwin.ForbiddenError(_response.error.body, _response.rawResponse);
          case 404:
            throw new Darwin.NotFoundError(_response.error.body, _response.rawResponse);
          default:
            throw new errors.DarwinError({
              statusCode: _response.error.statusCode,
              body: _response.error.body,
              rawResponse: _response.rawResponse,
            });
        }
      }
      return (0, handleNonStatusCodeError_js_1.handleNonStatusCodeError)(
        _response.error,
        _response.rawResponse,
        'POST',
        '/ais/{aiId}/connections/{connectionId}/assignments',
      );
    });
  }
  /**
   * Owner user credentials only. Revocation takes effect before the next fulfillment check.
   *
   * @param {Darwin.RevokeConnectionAssignmentRequest} request
   * @param {ConnectionsClient.RequestOptions} requestOptions - Request-specific configuration.
   *
   * @throws {@link Darwin.BadRequestError}
   * @throws {@link Darwin.UnauthorizedError}
   * @throws {@link Darwin.ForbiddenError}
   * @throws {@link Darwin.NotFoundError}
   * @throws {@link errors.DarwinError}
   * @throws {@link errors.DarwinTimeoutError}
   *
   * @example
   *     await client.connections.revokeConnectionAssignment({
   *         aiId: "aiId",
   *         connectionId: "connectionId",
   *         assignmentId: "assignmentId"
   *     })
   */
  revokeConnectionAssignment(request, requestOptions) {
    return core.HttpResponsePromise.fromPromise(this.__revokeConnectionAssignment(request, requestOptions));
  }
  __revokeConnectionAssignment(request, requestOptions) {
    return __awaiter(this, void 0, void 0, function* () {
      var _a, _b, _c, _d, _e, _f, _g, _h, _j;
      const { aiId, connectionId, assignmentId } = request;
      const _authRequest = yield this._options.authProvider.getAuthRequest();
      const _headers = (0, headers_js_1.mergeHeaders)(
        _authRequest.headers,
        (_a = this._options) === null || _a === void 0 ? void 0 : _a.headers,
        requestOptions === null || requestOptions === void 0 ? void 0 : requestOptions.headers,
      );
      const _response = yield core.fetcher({
        url: core.url.join(
          (_c =
            (_b = yield core.Supplier.get(this._options.baseUrl)) !== null && _b !== void 0
              ? _b
              : yield core.Supplier.get(this._options.environment)) !== null && _c !== void 0
            ? _c
            : environments.DarwinEnvironment.Production,
          `ais/${core.url.encodePathParam(aiId)}/connections/${core.url.encodePathParam(connectionId)}/assignments/${core.url.encodePathParam(assignmentId)}`,
        ),
        method: 'DELETE',
        headers: _headers,
        queryString: core.url
          .queryBuilder()
          .mergeAdditional(requestOptions === null || requestOptions === void 0 ? void 0 : requestOptions.queryParams)
          .build(),
        timeoutMs:
          ((_f =
            (_d = requestOptions === null || requestOptions === void 0 ? void 0 : requestOptions.timeoutInSeconds) !==
              null && _d !== void 0
              ? _d
              : (_e = this._options) === null || _e === void 0
                ? void 0
                : _e.timeoutInSeconds) !== null && _f !== void 0
            ? _f
            : 60) * 1000,
        maxRetries:
          (_g = requestOptions === null || requestOptions === void 0 ? void 0 : requestOptions.maxRetries) !== null &&
          _g !== void 0
            ? _g
            : (_h = this._options) === null || _h === void 0
              ? void 0
              : _h.maxRetries,
        abortSignal: requestOptions === null || requestOptions === void 0 ? void 0 : requestOptions.abortSignal,
        fetchFn: (_j = this._options) === null || _j === void 0 ? void 0 : _j.fetch,
        logging: this._options.logging,
      });
      if (_response.ok) {
        return {
          data: _response.body,
          rawResponse: _response.rawResponse,
        };
      }
      if (_response.error.reason === 'status-code') {
        switch (_response.error.statusCode) {
          case 400:
            throw new Darwin.BadRequestError(_response.error.body, _response.rawResponse);
          case 401:
            throw new Darwin.UnauthorizedError(_response.error.body, _response.rawResponse);
          case 403:
            throw new Darwin.ForbiddenError(_response.error.body, _response.rawResponse);
          case 404:
            throw new Darwin.NotFoundError(_response.error.body, _response.rawResponse);
          default:
            throw new errors.DarwinError({
              statusCode: _response.error.statusCode,
              body: _response.error.body,
              rawResponse: _response.rawResponse,
            });
        }
      }
      return (0, handleNonStatusCodeError_js_1.handleNonStatusCodeError)(
        _response.error,
        _response.rawResponse,
        'DELETE',
        '/ais/{aiId}/connections/{connectionId}/assignments/{assignmentId}',
      );
    });
  }
  /**
   * Owner credentials only. Darwin hosts the provider OAuth flow and never returns provider credentials.
   *
   * @param {Darwin.CreateConnectionAuthorizationRequest} request
   * @param {ConnectionsClient.RequestOptions} requestOptions - Request-specific configuration.
   *
   * @throws {@link Darwin.BadRequestError}
   * @throws {@link Darwin.UnauthorizedError}
   * @throws {@link Darwin.ForbiddenError}
   * @throws {@link Darwin.NotFoundError}
   * @throws {@link errors.DarwinError}
   * @throws {@link errors.DarwinTimeoutError}
   *
   * @example
   *     await client.connections.createConnectionAuthorizationSession({
   *         aiId: "aiId",
   *         toolkit: "toolkit",
   *         requestId: "requestId"
   *     })
   */
  createConnectionAuthorizationSession(request, requestOptions) {
    return core.HttpResponsePromise.fromPromise(this.__createConnectionAuthorizationSession(request, requestOptions));
  }
  __createConnectionAuthorizationSession(request, requestOptions) {
    return __awaiter(this, void 0, void 0, function* () {
      var _a, _b, _c, _d, _e, _f, _g, _h, _j;
      const { aiId } = request,
        _body = __rest(request, ['aiId']);
      const _authRequest = yield this._options.authProvider.getAuthRequest();
      const _headers = (0, headers_js_1.mergeHeaders)(
        _authRequest.headers,
        (_a = this._options) === null || _a === void 0 ? void 0 : _a.headers,
        requestOptions === null || requestOptions === void 0 ? void 0 : requestOptions.headers,
      );
      const _response = yield core.fetcher({
        url: core.url.join(
          (_c =
            (_b = yield core.Supplier.get(this._options.baseUrl)) !== null && _b !== void 0
              ? _b
              : yield core.Supplier.get(this._options.environment)) !== null && _c !== void 0
            ? _c
            : environments.DarwinEnvironment.Production,
          `ais/${core.url.encodePathParam(aiId)}/connections/authorization-sessions`,
        ),
        method: 'POST',
        headers: _headers,
        contentType: 'application/json',
        queryString: core.url
          .queryBuilder()
          .mergeAdditional(requestOptions === null || requestOptions === void 0 ? void 0 : requestOptions.queryParams)
          .build(),
        requestType: 'json',
        body: (0, requestBody_js_1.mergeAdditionalBodyParameters)(
          _body,
          requestOptions === null || requestOptions === void 0 ? void 0 : requestOptions.additionalBodyParameters,
        ),
        timeoutMs:
          ((_f =
            (_d = requestOptions === null || requestOptions === void 0 ? void 0 : requestOptions.timeoutInSeconds) !==
              null && _d !== void 0
              ? _d
              : (_e = this._options) === null || _e === void 0
                ? void 0
                : _e.timeoutInSeconds) !== null && _f !== void 0
            ? _f
            : 60) * 1000,
        maxRetries:
          (_g = requestOptions === null || requestOptions === void 0 ? void 0 : requestOptions.maxRetries) !== null &&
          _g !== void 0
            ? _g
            : (_h = this._options) === null || _h === void 0
              ? void 0
              : _h.maxRetries,
        abortSignal: requestOptions === null || requestOptions === void 0 ? void 0 : requestOptions.abortSignal,
        fetchFn: (_j = this._options) === null || _j === void 0 ? void 0 : _j.fetch,
        logging: this._options.logging,
      });
      if (_response.ok) {
        return {
          data: _response.body,
          rawResponse: _response.rawResponse,
        };
      }
      if (_response.error.reason === 'status-code') {
        switch (_response.error.statusCode) {
          case 400:
            throw new Darwin.BadRequestError(_response.error.body, _response.rawResponse);
          case 401:
            throw new Darwin.UnauthorizedError(_response.error.body, _response.rawResponse);
          case 403:
            throw new Darwin.ForbiddenError(_response.error.body, _response.rawResponse);
          case 404:
            throw new Darwin.NotFoundError(_response.error.body, _response.rawResponse);
          default:
            throw new errors.DarwinError({
              statusCode: _response.error.statusCode,
              body: _response.error.body,
              rawResponse: _response.rawResponse,
            });
        }
      }
      return (0, handleNonStatusCodeError_js_1.handleNonStatusCodeError)(
        _response.error,
        _response.rawResponse,
        'POST',
        '/ais/{aiId}/connections/authorization-sessions',
      );
    });
  }
  /**
   * @param {Darwin.CompleteConnectionAuthorizationRequest} request
   * @param {ConnectionsClient.RequestOptions} requestOptions - Request-specific configuration.
   *
   * @throws {@link Darwin.BadRequestError}
   * @throws {@link Darwin.UnauthorizedError}
   * @throws {@link Darwin.ForbiddenError}
   * @throws {@link Darwin.NotFoundError}
   * @throws {@link errors.DarwinError}
   * @throws {@link errors.DarwinTimeoutError}
   *
   * @example
   *     await client.connections.completeConnectionAuthorizationSession({
   *         aiId: "aiId",
   *         attemptToken: "attemptToken"
   *     })
   */
  completeConnectionAuthorizationSession(request, requestOptions) {
    return core.HttpResponsePromise.fromPromise(this.__completeConnectionAuthorizationSession(request, requestOptions));
  }
  __completeConnectionAuthorizationSession(request, requestOptions) {
    return __awaiter(this, void 0, void 0, function* () {
      var _a, _b, _c, _d, _e, _f, _g, _h, _j;
      const { aiId } = request,
        _body = __rest(request, ['aiId']);
      const _authRequest = yield this._options.authProvider.getAuthRequest();
      const _headers = (0, headers_js_1.mergeHeaders)(
        _authRequest.headers,
        (_a = this._options) === null || _a === void 0 ? void 0 : _a.headers,
        requestOptions === null || requestOptions === void 0 ? void 0 : requestOptions.headers,
      );
      const _response = yield core.fetcher({
        url: core.url.join(
          (_c =
            (_b = yield core.Supplier.get(this._options.baseUrl)) !== null && _b !== void 0
              ? _b
              : yield core.Supplier.get(this._options.environment)) !== null && _c !== void 0
            ? _c
            : environments.DarwinEnvironment.Production,
          `ais/${core.url.encodePathParam(aiId)}/connections/authorization-sessions/complete`,
        ),
        method: 'POST',
        headers: _headers,
        contentType: 'application/json',
        queryString: core.url
          .queryBuilder()
          .mergeAdditional(requestOptions === null || requestOptions === void 0 ? void 0 : requestOptions.queryParams)
          .build(),
        requestType: 'json',
        body: (0, requestBody_js_1.mergeAdditionalBodyParameters)(
          _body,
          requestOptions === null || requestOptions === void 0 ? void 0 : requestOptions.additionalBodyParameters,
        ),
        timeoutMs:
          ((_f =
            (_d = requestOptions === null || requestOptions === void 0 ? void 0 : requestOptions.timeoutInSeconds) !==
              null && _d !== void 0
              ? _d
              : (_e = this._options) === null || _e === void 0
                ? void 0
                : _e.timeoutInSeconds) !== null && _f !== void 0
            ? _f
            : 60) * 1000,
        maxRetries:
          (_g = requestOptions === null || requestOptions === void 0 ? void 0 : requestOptions.maxRetries) !== null &&
          _g !== void 0
            ? _g
            : (_h = this._options) === null || _h === void 0
              ? void 0
              : _h.maxRetries,
        abortSignal: requestOptions === null || requestOptions === void 0 ? void 0 : requestOptions.abortSignal,
        fetchFn: (_j = this._options) === null || _j === void 0 ? void 0 : _j.fetch,
        logging: this._options.logging,
      });
      if (_response.ok) {
        return {
          data: _response.body,
          rawResponse: _response.rawResponse,
        };
      }
      if (_response.error.reason === 'status-code') {
        switch (_response.error.statusCode) {
          case 400:
            throw new Darwin.BadRequestError(_response.error.body, _response.rawResponse);
          case 401:
            throw new Darwin.UnauthorizedError(_response.error.body, _response.rawResponse);
          case 403:
            throw new Darwin.ForbiddenError(_response.error.body, _response.rawResponse);
          case 404:
            throw new Darwin.NotFoundError(_response.error.body, _response.rawResponse);
          default:
            throw new errors.DarwinError({
              statusCode: _response.error.statusCode,
              body: _response.error.body,
              rawResponse: _response.rawResponse,
            });
        }
      }
      return (0, handleNonStatusCodeError_js_1.handleNonStatusCodeError)(
        _response.error,
        _response.rawResponse,
        'POST',
        '/ais/{aiId}/connections/authorization-sessions/complete',
      );
    });
  }
  /**
   * Owner credentials only. This disables Darwin access without claiming the provider revoked one scope from a cumulative token.
   *
   * @param {Darwin.DisableConnectionGrantRequest} request
   * @param {ConnectionsClient.RequestOptions} requestOptions - Request-specific configuration.
   *
   * @throws {@link Darwin.BadRequestError}
   * @throws {@link Darwin.UnauthorizedError}
   * @throws {@link Darwin.ForbiddenError}
   * @throws {@link Darwin.NotFoundError}
   * @throws {@link errors.DarwinError}
   * @throws {@link errors.DarwinTimeoutError}
   *
   * @example
   *     await client.connections.disableConnectionGrant({
   *         aiId: "aiId",
   *         connectionId: "connectionId",
   *         toolkit: "toolkit"
   *     })
   */
  disableConnectionGrant(request, requestOptions) {
    return core.HttpResponsePromise.fromPromise(this.__disableConnectionGrant(request, requestOptions));
  }
  __disableConnectionGrant(request, requestOptions) {
    return __awaiter(this, void 0, void 0, function* () {
      var _a, _b, _c, _d, _e, _f, _g, _h, _j;
      const { aiId, connectionId, toolkit } = request;
      const _authRequest = yield this._options.authProvider.getAuthRequest();
      const _headers = (0, headers_js_1.mergeHeaders)(
        _authRequest.headers,
        (_a = this._options) === null || _a === void 0 ? void 0 : _a.headers,
        requestOptions === null || requestOptions === void 0 ? void 0 : requestOptions.headers,
      );
      const _response = yield core.fetcher({
        url: core.url.join(
          (_c =
            (_b = yield core.Supplier.get(this._options.baseUrl)) !== null && _b !== void 0
              ? _b
              : yield core.Supplier.get(this._options.environment)) !== null && _c !== void 0
            ? _c
            : environments.DarwinEnvironment.Production,
          `ais/${core.url.encodePathParam(aiId)}/connections/${core.url.encodePathParam(connectionId)}/grants/${core.url.encodePathParam(toolkit)}`,
        ),
        method: 'DELETE',
        headers: _headers,
        queryString: core.url
          .queryBuilder()
          .mergeAdditional(requestOptions === null || requestOptions === void 0 ? void 0 : requestOptions.queryParams)
          .build(),
        timeoutMs:
          ((_f =
            (_d = requestOptions === null || requestOptions === void 0 ? void 0 : requestOptions.timeoutInSeconds) !==
              null && _d !== void 0
              ? _d
              : (_e = this._options) === null || _e === void 0
                ? void 0
                : _e.timeoutInSeconds) !== null && _f !== void 0
            ? _f
            : 60) * 1000,
        maxRetries:
          (_g = requestOptions === null || requestOptions === void 0 ? void 0 : requestOptions.maxRetries) !== null &&
          _g !== void 0
            ? _g
            : (_h = this._options) === null || _h === void 0
              ? void 0
              : _h.maxRetries,
        abortSignal: requestOptions === null || requestOptions === void 0 ? void 0 : requestOptions.abortSignal,
        fetchFn: (_j = this._options) === null || _j === void 0 ? void 0 : _j.fetch,
        logging: this._options.logging,
      });
      if (_response.ok) {
        return { data: _response.body, rawResponse: _response.rawResponse };
      }
      if (_response.error.reason === 'status-code') {
        switch (_response.error.statusCode) {
          case 400:
            throw new Darwin.BadRequestError(_response.error.body, _response.rawResponse);
          case 401:
            throw new Darwin.UnauthorizedError(_response.error.body, _response.rawResponse);
          case 403:
            throw new Darwin.ForbiddenError(_response.error.body, _response.rawResponse);
          case 404:
            throw new Darwin.NotFoundError(_response.error.body, _response.rawResponse);
          default:
            throw new errors.DarwinError({
              statusCode: _response.error.statusCode,
              body: _response.error.body,
              rawResponse: _response.rawResponse,
            });
        }
      }
      return (0, handleNonStatusCodeError_js_1.handleNonStatusCodeError)(
        _response.error,
        _response.rawResponse,
        'DELETE',
        '/ais/{aiId}/connections/{connectionId}/grants/{toolkit}',
      );
    });
  }
  /**
   * Owner credentials only. Local access is disabled immediately and provider token revocation is retried if necessary.
   *
   * @param {Darwin.RemoveAiConnectionRequest} request
   * @param {ConnectionsClient.RequestOptions} requestOptions - Request-specific configuration.
   *
   * @throws {@link Darwin.BadRequestError}
   * @throws {@link Darwin.UnauthorizedError}
   * @throws {@link Darwin.ForbiddenError}
   * @throws {@link Darwin.NotFoundError}
   * @throws {@link errors.DarwinError}
   * @throws {@link errors.DarwinTimeoutError}
   *
   * @example
   *     await client.connections.removeAiConnection({
   *         aiId: "aiId",
   *         connectionId: "connectionId"
   *     })
   */
  removeAiConnection(request, requestOptions) {
    return core.HttpResponsePromise.fromPromise(this.__removeAiConnection(request, requestOptions));
  }
  __removeAiConnection(request, requestOptions) {
    return __awaiter(this, void 0, void 0, function* () {
      var _a, _b, _c, _d, _e, _f, _g, _h, _j;
      const { aiId, connectionId } = request;
      const _authRequest = yield this._options.authProvider.getAuthRequest();
      const _headers = (0, headers_js_1.mergeHeaders)(
        _authRequest.headers,
        (_a = this._options) === null || _a === void 0 ? void 0 : _a.headers,
        requestOptions === null || requestOptions === void 0 ? void 0 : requestOptions.headers,
      );
      const _response = yield core.fetcher({
        url: core.url.join(
          (_c =
            (_b = yield core.Supplier.get(this._options.baseUrl)) !== null && _b !== void 0
              ? _b
              : yield core.Supplier.get(this._options.environment)) !== null && _c !== void 0
            ? _c
            : environments.DarwinEnvironment.Production,
          `ais/${core.url.encodePathParam(aiId)}/connections/${core.url.encodePathParam(connectionId)}`,
        ),
        method: 'DELETE',
        headers: _headers,
        queryString: core.url
          .queryBuilder()
          .mergeAdditional(requestOptions === null || requestOptions === void 0 ? void 0 : requestOptions.queryParams)
          .build(),
        timeoutMs:
          ((_f =
            (_d = requestOptions === null || requestOptions === void 0 ? void 0 : requestOptions.timeoutInSeconds) !==
              null && _d !== void 0
              ? _d
              : (_e = this._options) === null || _e === void 0
                ? void 0
                : _e.timeoutInSeconds) !== null && _f !== void 0
            ? _f
            : 60) * 1000,
        maxRetries:
          (_g = requestOptions === null || requestOptions === void 0 ? void 0 : requestOptions.maxRetries) !== null &&
          _g !== void 0
            ? _g
            : (_h = this._options) === null || _h === void 0
              ? void 0
              : _h.maxRetries,
        abortSignal: requestOptions === null || requestOptions === void 0 ? void 0 : requestOptions.abortSignal,
        fetchFn: (_j = this._options) === null || _j === void 0 ? void 0 : _j.fetch,
        logging: this._options.logging,
      });
      if (_response.ok) {
        return { data: _response.body, rawResponse: _response.rawResponse };
      }
      if (_response.error.reason === 'status-code') {
        switch (_response.error.statusCode) {
          case 400:
            throw new Darwin.BadRequestError(_response.error.body, _response.rawResponse);
          case 401:
            throw new Darwin.UnauthorizedError(_response.error.body, _response.rawResponse);
          case 403:
            throw new Darwin.ForbiddenError(_response.error.body, _response.rawResponse);
          case 404:
            throw new Darwin.NotFoundError(_response.error.body, _response.rawResponse);
          default:
            throw new errors.DarwinError({
              statusCode: _response.error.statusCode,
              body: _response.error.body,
              rawResponse: _response.rawResponse,
            });
        }
      }
      return (0, handleNonStatusCodeError_js_1.handleNonStatusCodeError)(
        _response.error,
        _response.rawResponse,
        'DELETE',
        '/ais/{aiId}/connections/{connectionId}',
      );
    });
  }
}
exports.ConnectionsClient = ConnectionsClient;
